root {
            --warna-utama: #2f2f2a; /* Warna utama untuk judul */
            --warna-sekunder: #e2e8f0; /* Warna sekunder untuk latar belakang */
            --warna-teks: #2d3748; /* Warna teks */
        }
        .striked-text {
            text-decoration: line-through;
            color: rgba(128, 128, 128, 0.35);
        }
        /* Gaya kustom untuk elemen pre */
        pre.resume {
            background-color: var(--warna-sekunder); /* Setel warna latar belakang */
            color: var(--warna-teks); /* Setel warna teks */
            padding: 1.5rem; /* Tambahkan padding */
            border-radius: 0.5rem; /* Tambahkan radius border untuk sudut melengkung */
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* Efek bayangan */
            display: inline-block; /* Pastikan border membungkus konten */
        }
        button {
    padding: 15px 20px;
    background-color: #00c8ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    width: auto; /* Gunakan lebar otomatis */
    max-width: 100%; /* Lebar maksimum tombol (maksimum lebar kontainer) */
    box-sizing: border-box; /* Jaga agar padding tidak menambah ukuran tombol */
    white-space: nowrap; /* Pastikan teks tidak pindah baris */
}
#hiddenText {
    display: none; /* Sembunyikan teks "Ica Nafisah" secara default */
}
/* Animasi saat tombol dihover */
button:hover {
    background-color: #1131e5; /* Ubah warna latar belakang saat dihover */
    transform: scale(1.05); /* Perbesar ukuran tombol saat dihover */
}
        /* Gaya untuk teks sekolah */
        .school {
            cursor: pointer; /* Ubah kursor menjadi tangan saat diarahkan ke teks sekolah */
            text-decoration: none; /* Hilangkan garis bawah */
        }
.paragraph{
    font-family:ui-rounded;
    border-style: solid;
    border-radius: 3px;
    border-color: slateblue;
    
}